.brand-logo > img:nth-child(1) {
    padding-left: 10px !important;
    padding-top: 8px;
}

#nav-mobile > li:nth-child(1) > a:nth-child(1),
#nav-mobile > li:nth-child(2) > a:nth-child(1),
#login-name-link {
    color: #643094;
}

a.waves-light {
    color: yellow;
    background-color: blueviolet;
}